@model WebApplicationMarketing.Models_.SettingTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SettingTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomingTraffics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomingTraffics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsideClubs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsideClubs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeysIndicators)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeysIndicators)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnlinePays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnlinePays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialMediums)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialMediums)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
