@model WebApplicationMarketing.Models_.Addlink

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Addlink</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YandexLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YandexLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GaLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GaLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.IdLink">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
