@model WebApplicationMarketing.Models_.IncomingTraffic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IncomingTraffic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomTrafficGv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomTrafficGv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomTrafficMop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomTrafficMop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewCardsSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewCardsSold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpConversion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpConversion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdIt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
