@model WebApplicationMarketing.Models_.UnTable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UnTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdvertisingCosts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdvertisingCosts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewVisitors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewVisitors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteLeads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteLeads)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
