@model WebApplicationMarketing.Models_.OnlinePay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OnlinePay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaySiteRub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaySiteRub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaySiteCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaySiteCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnlineSales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnlineSales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageCheck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageCheck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayConversion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayConversion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdOp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
