@model WebApplicationMarketing.Models_.KeyIndicator

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KeyIndicator</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadsSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadsSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewVisitorsSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewVisitorsSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeadsLandingPages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadsLandingPages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewVisitorsLandingPages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewVisitorsLandingPages)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllLeadsSites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllLeadsSites)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalsAdvertising)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalsAdvertising)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpentWebsitePromotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpentWebsitePromotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostLeadSites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostLeadSites)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewWebsiteVisitors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewWebsiteVisitors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailSubsShares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailSubsShares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdKi">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
